body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    font-weight: 700;
    padding: 5px 15px ;
    border-radius: 5px;
    

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.resume-button{
    text-decoration: none;
    color: yellow;
    background-image: linear-gradient(tomato,red);
    padding: 5px 15px;
    font-weight: 700;
    border-radius: 5px;
}
p{
    text-align: justify;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}